<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <button class="button button-clear button-primary" ng-click="cancelSettings()">Close</button>
    <h1 class="title">Settings</h1>
    <button class="button button-clear button-primary" ng-click="saveSettings()">Save</button>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="list">
      <label class="item item-input">
        <span class="input-label">First Name</span>
        <input ng-model="settings.prefs.mainBackCol" type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">Last Name</span>
        <input ng-model="newUser.lastName" type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">Email</span>
        <input ng-model="newUser.email" type="text">
      </label>
      <button class="button button-full button-positive" ng-click="createContact(newUser)">Create</button>
    </div>
  </ion-content>
</ion-modal-view>
