<div>

  <style>
    .yleftimage{
    width: 40%;
    float:left;
    }

    .yleftimage img{
    height: 100%;
    width: 100%;
    display: block;
    }

    .yrightcont{
    float:left;
    width: 60%;
    padding-left: 10px;
    }

    .yname{
    font-size: 1em;
    margin-bottom: 5px;
    }

    .ydesc{
    font-size: 0.6em;
    line-height: 1.4em;
    margin-bottom: 5px;
    }

    .ycard{
    padding: 5px;
    }

    .yrevcount{
    font-size: 0.6em;
    line-height: 0.6em;
    }

    .yphonebut{
    min-height: inherit;
    line-height: 16px;
    font-size: 11px;
    margin-top: 10px;
    color: white;
    text-decoration:none;
    }
  </style>


  <div class="card no-margin ycard" ng-repeat="bus in item.data.businesses">
    <div class="row">
      <div class="yleftimage">
        <img src="{{bus.image_url}}"/>
      </div>

      <div class="yrightcont">
        <div class="wrap-word yname">
          {{bus.name}}
        </div>

        <div class="wrap-word ydesc">
          {{bus.snippet_text}}
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col text-left no-padding">
        <button class="button button-dark yphonebut" href="tel:{{bus.display_phone}}">
          <span class="ionicon ion-ios-telephone"></span>
          {{bus.display_phone}}
        </button>
      </div>

        <div class="col text-right wrap-word yrating">
          <div>
            <img src="{{bus.rating_img_url}}"/>
          </div>
          <div class="yrevcount">
            {{bus.review_count}} ratings
          </div>
        </div>
    </div>

    <!-- <div class="ytopimage"> -->
    <!--   <img src="{{bus.image_url}}"/> -->
    <!-- </div> -->

    <!-- <div class="row"> -->
    <!--   <div class="col"> -->
    <!--     <div class="yname"> -->
    <!--       {{bus.name}} -->
    <!--     </div> -->
    <!--     <div> -->
    <!--       <span class="ycattag" ng-repeat="cat in bus.categories"> -->
    <!--         {{cat[0]}} -->
    <!--       </span> -->
    <!--     </div> -->
    <!--   </div> -->

    <!--   <div class="col text-right"> -->
    <!--     <div class="yphone"> -->
    <!--       <a href="tel:{{bus.display_phone}}">P: {{bus.display_phone}}</a> -->
    <!--     </div> -->
    <!--     <div class="yrating"> -->
    <!--       <img/> -->
    <!--     </div> -->
    <!--   </div> -->
    <!-- </div> -->

  </div>


  

</div>
